{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="index">
    <h1>Xavier</h2>
    <h5>Développeur Full Stack PHP Junior</h3>
    <h4>Spécialisé Symfony</h3>
    <div class="logos">
        <a href="https://www.linkedin.com/in/xavier-chavaudrey-297834221/">
            <img class="linkedin" src="{{ asset('build/images/linkedin.png') }}" alt="linkedin-logo"/>
        </a>
        <a href="https://github.com/Superzut44">
            <img class="github" src="{{ asset('build/images/github.png') }}" alt="linkedin-github"/>
        </a>
    </div>
</div>    
{% endblock %}
