{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
<div class="inRegardsTo">
    <h1>A PROPOS</h1>
    <img class="vcs" src="{{ asset('build/images/visual.png') }}" alt="visual code studio"/>
    <ul>
        <li>Nom : <span>Chavaudrey</span></li>
        <li>Prénom : <span>Xavier</span></li>
        <li>Age : <span>44 ans</span></li>
        <li>Adresse : <span>Tinqueux 51</span></li>
    </ul>
    <a href="#">Me contacter</a>
</div>    
{% endblock %}