{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}
<div class="training">
    <h1>FORMATIONS</h1>
    <h4>5 mois de présence à la Wild Code School</h4>
</div>    
{% endblock %}
