@import "~bootstrap/scss/bootstrap";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //border: 2px solid red;
}

body {
    background-color: lightgray;
}

// index start

.index{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    h1{
        font-size: 5rem;
        margin: 4rem;
    }
    h5{
        font-size: 3rem;
        margin: 1rem 5rem;
    }
    h4{
        font-size: 4rem;
        margin: 1rem 5rem;
    }
}

.logos{
    margin: 4rem;
}

.linkedin{
    margin: 3rem;
    width: 6rem;
}

.github{
    margin: 3rem;
    width: 6rem;
}

// index end

// inRegardsTo start

.inRegardsTo{
    margin: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        margin: 4rem;
        font-size: 6rem;
    }
    img{
        width: 50rem;
    }
    ul{
        margin: 4rem;
        font-size: 3rem;
        align-self: flex-start;
        list-style-type: none;
        li{
            padding: 1rem 0;  
        }
    }
    a{
        font-size: 5rem;
        padding: 2rem 5rem;
        background-color: #79aae2;
        border: 0;
        border-radius: 4px;
        box-shadow: 0px 1px 3px #322e2a;
        color: #fafafa;
        cursor: pointer;
        text-decoration: none;
    }
}

// inRegardsTo end

// training start

.training{
    margin: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        margin: 4rem;
        font-size: 6rem;
    }
    h4{
        font-size: 4rem;
    }
}

// training end

// portfolio start

.portfolio{
    margin: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        font-size: 6rem;
        margin: 4rem;
        text-align: center;
    }
}

.cart-margin{
    margin-bottom: 5rem;
}

// portfolio end

// navbar start

/* Style the navigation bar */
.navbar {
    width: 100%;
    height: 6rem;
    background-color: #555;
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 2rem;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #04AA6D;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
  

// navbar end

// project_index start

  .project_season_show {
    list-style: none;
}

.project_index_figure {
    padding: 1rem;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    max-width: 40rem;
    max-height: 100rem;
    overflow: auto;
}

.project_index_figcaption {
    margin-top: auto;
    border-bottom: 2px solid black;
    padding: 10px;
    text-align: center;
    height: 10rem;
}

.project_index_container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

// project_index end

// project_new start

.project_new{
    margin-top: 10rem;
}

// project_new end