<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="navbar">
  <a class="active" href="{{ path('home') }}"><i class="fa fa-fw fa-home"></i></a>
  <a href="{{ path('inRegardsTo') }}"><i class="fa fa-fw fa-address-card"></i> A propos</a>
  <a href="{{ path('training') }}"><i class="fa fa-fw fa-envelope"></i> Formations</a>
  <a href="{{ path('project_index') }}"><i class="fa fa-fw fa-folder"></i> Portfolio</a>
  <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
</div>