<div class="navbar">
    <a href="{{ path('home') }}">Acceuil</a>
    <a href="{{ path('inRegardsTo') }}">A propos</a>
    <a href="{{ path('training') }}">Formations</a>
    <a href="{{ path('project_index') }}">Portfolio</a>
</div>